<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @customer.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @customer.dob %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @customer.contact %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @customer.agent %>
</p>

<p>
  <strong>Package:</strong>
  <%= @customer.package %>
</p>

<p>
  <strong>Activities:</strong>
  <%= @customer.activities %>
</p>

<p>
  <strong>Travel:</strong>
  <%= @customer.travel %>
</p>

<p>
  <strong>Itinery:</strong>
  <%= @customer.itinery %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
